[connection] 
id=ros-net
uuid=52816e6c-4c49-484f-827f-85b37b1a2315
type=wifi
interface-name=wlan0
permissions=
 
[wifi]
mac-address-blacklist=
mode=infrastructure
ssid=ros-net
 
[wifi-security]
key-mgmt=wpa-psk
psk={{ ros_net_psk }}
 
[ipv4] 
dns-search=
method=auto
 
[ipv6] 
addr-gen-mode=stable-privacy
dns-search=
ip6-privacy=0
method=auto

