[connection]
id=direct-connection
uuid=dc5fa029-969f-44b2-92d1-23431f7646b4
type=ethernet
autoconnect-priority=-10
interface-name=eth0
permissions=
timestamp=1574096020

[ethernet]
mac-address-blacklist=

[ipv4]
dns-search=
method=link-local

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=link-local
